/*estilos para las etiquetas*/
h2 {
    text-transform: uppercase;
    font-size:20px;
}

a:hover {
    text-decoration:none;
}


/*////Sección "Quiénes somos"////*/
/*TODO: cambiar colores una vez definidos TODO: :hover .descubrir*/

/*fondo y div padre*/
.imagen-fondo {
    margin-top:10px;
    width:100%;
    /*background-color:lightblue;*/
    background-image: url('./img/quienes-somos.jpg');
    background-size:cover;
    background-position:center;
    background-color: #cccccc;
}

/*recuadro con texto*/
.quienes-somos {
    border: 1px solid blue;
    padding:20px;
    background-color: white;
    padding-left:30px;
    padding-right:40px;
    margin-top:60px;
    margin-bottom:40px;
}

/*linea bajo el título del texto*/
.raya {
    margin-left:-10px;
    margin-top:-5px;
    border:2px solid darkblue;
    width:165px;
}

/*estilo del texto*/
.quienes-somos>p{
    text-align:justify;
    text-justify: inter-word;
    margin-top:30px;
}

/*botón a sección "descubrir"*/
.descubrir {
    padding:10px;
    background-color:darkblue;
    color:white;
    text-align: center;
}

/*////Sección "Formulario de contacto"////*/
/*div padre*/
.formulario-de-contacto {
    margin-top:55px;
}

/*pequeña línea bajo el texto*/
.rayita {
    width:10px;
    border:1px solid darkblue;
}

/*estilo para colocar los input y el textarea*/
.formulario-left,.formulario-right,.formulario-center {
    width:45%;
    margin-top:15px;
}

.formulario-right {
    margin-left:5%;
}

.formulario-center {
    width:95%;
}
